/Users/Arthur/Documents/Stoneworks-Chat/run
/Users/Arthur/Documents/Stoneworks-Chat/build
/Users/Arthur/Documents/Stoneworks-Chat/.vscode
/Users/Arthur/Documents/Stoneworks-Chat/.idea
/Users/Arthur/Documents/Stoneworks-Chat/.gradle
/Users/Arthur/Documents/Stoneworks-Chat/gradle